#OS junk files
/Desarrollo/Agendo/UI/bin
/Desarrollo/Agendo/ServiceLayer/bin
/Desarrollo/Agendo/Framework/bin
/Desarrollo/Agendo/DBScript/bin
/Desarrollo/Agendo/DBScript/obj
/Desarrollo/Agendo/ServiceLayer/bin
/Desarrollo/Agendo/ServiceLayer/obj
/Desarrollo/Agendo/UI/obj
/Desarrollo/Agendo/Framework/obj
/Desarrollo/Agendo/UI/obj/Debug
/Desarrollo/Agendo/UI/obj/Debug/*.resources
/Desarrollo/Agendo/UI/obj/Debug/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.pdb
/Desarrollo/Agendo/UI/obj/Debug/*.cache
/Desarrollo/Agendo/UI/obj/Debug/TempPE/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.cs
/Desarrollo/Agendo/UI/obj/Debug/*.txt
/Desarrollo/Agendo/UI/obj/Debug/*.Cache
/Desarrollo/Agendo/UI/obj/Debug/*.resources
/Desarrollo/Agendo/UI/obj/Debug/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.pdb
/Desarrollo/Agendo/UI/obj/Debug/*.cache
/Desarrollo/Agendo/UI/obj/Debug/TempPE/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.cs
/Desarrollo/Agendo/UI/obj/Debug/*.txt
/Desarrollo/Agendo/UI/obj/Debug/*.Cache
/Desarrollo/Agendo/UI/obj/Debug/*.resources
/Desarrollo/Agendo/UI/obj/Debug/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.pdb
/Desarrollo/Agendo/UI/obj/Debug/*.cache
/Desarrollo/Agendo/UI/obj/Debug/TempPE/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.cs
/Desarrollo/Agendo/UI/obj/Debug/*.txt
/Desarrollo/Agendo/UI/obj/Debug/*.Cache
*.resources
*.dll
*.pdb
*.cache
*.cs
*.txt
*.Cache
/Desarrollo/Agendo/DBScript/bin/Debug/*.dacpac
/Desarrollo/Agendo/DBScript/bin/Debug/*.sql
/Desarrollo/Agendo/DBScript/bin/Debug/*.dll
/Desarrollo/Agendo/DBScript/bin/Debug/*.pdb
/Desarrollo/Agendo/UI/bin/*.pdb
/Desarrollo/Agendo/UI/bin/*.dll
