#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
/Desarrollo/Agendo/UI/bin
/Desarrollo/Agendo/ServiceLayer/bin
/Desarrollo/Agendo/Framework/bin
/Desarrollo/Agendo/DBScript/bin
/Desarrollo/Agendo/DBScript/obj
/Desarrollo/Agendo/ServiceLayer/bin
/Desarrollo/Agendo/ServiceLayer/obj
/Desarrollo/Agendo/UI/obj
/Desarrollo/Agendo/Framework/obj
/Desarrollo/Agendo/UI/obj/Debug
/Desarrollo/Agendo/UI/obj/Debug/*.resources
/Desarrollo/Agendo/UI/obj/Debug/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.pdb
/Desarrollo/Agendo/UI/obj/Debug/*.cache
/Desarrollo/Agendo/UI/obj/Debug/TempPE/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.cs
/Desarrollo/Agendo/UI/obj/Debug/*.txt
/Desarrollo/Agendo/UI/obj/Debug/*.Cache
/Desarrollo/Agendo/UI/obj/Debug/*.resources
/Desarrollo/Agendo/UI/obj/Debug/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.pdb
/Desarrollo/Agendo/UI/obj/Debug/*.cache
/Desarrollo/Agendo/UI/obj/Debug/TempPE/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.cs
/Desarrollo/Agendo/UI/obj/Debug/*.txt
/Desarrollo/Agendo/UI/obj/Debug/*.Cache
/Desarrollo/Agendo/UI/obj/Debug/*.resources
/Desarrollo/Agendo/UI/obj/Debug/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.pdb
/Desarrollo/Agendo/UI/obj/Debug/*.cache
/Desarrollo/Agendo/UI/obj/Debug/TempPE/*.dll
/Desarrollo/Agendo/UI/obj/Debug/*.cs
/Desarrollo/Agendo/UI/obj/Debug/*.txt
/Desarrollo/Agendo/UI/obj/Debug/*.Cache
*.resources
*.dll
*.pdb
*.cache
*.cs
*.txt
*.Cache
