<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h2>Servicios</h2>
            <h5>administre sus servicios. </h5>

        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Detalle
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Nombre Servicio</th>
                                <th>Tiempo Promedio</th>
                                <th>Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" ng-repeat="service in Services">
                                <td>{{service.name}}</td>
                                <td>{{service.avgTime}}</td>
                                <td>{{service.price}}</td>
                                <td>
                                    <a href="#" class="btn btn-info">Modify</a>
                                </td>
                                <td>
                                    <a href="#" ng-click="deleteProject(proj)" class="btn btn-danger">Delete</a>
                                    <button ng-click="toggleModal()" class="btn btn-default">Open modal</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <modal title="Login form" visible="showModal">
        <form role="form">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </modal>

</div>


